html {font-family: "Comic Sans Ms", Arial, Serif ;}

header, footer {text-align: center;}

.menu {text-align: left; margin-left: 10px;}

.leftPadding {padding-left: 20px;}

#message {
	padding: 15px;
	margin-top: -30px;
	margin-left: 200px;
	margin-right: 200px;
	border-style: solid;
}


